
.row{
  padding-top: 50px;
  padding-bottom: 50px;
}
.bottom{
  display: grid;
  background-color: #2d4059;
  grid-template-columns: 2fr 1.65fr 1fr;
  padding-top: 20px;
    color: #fdfdfd;
  padding-bottom: 30px;

}
.col1
{
  padding-left: 50px;
}
.btn{
    background-color: #0e49b5;
    color:black;
  padding: 10px 20px 10px 20px;
  margin-bottom: 30%;
  margin-left: 30%;
    color: #fdfdfd;
}
body{
  background-color: #fdfdfd;
  font-family: 'Ubuntu', sans-serif;

}
.Link{
  color:#ffffff;
}
